/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* Font Family */
  --font-family-sans:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  /* Spacing */
  --spacing-0: 0;
  --spacing-0\.5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-safe-top: env(safe-area-inset-top);
  --spacing-safe-right: env(safe-area-inset-right);
  --spacing-safe-bottom: env(safe-area-inset-bottom);
  --spacing-safe-left: env(safe-area-inset-left);

  /* Colors */
  --color-primary-light: rgba(225, 255, 180, 0.3);
  --color-primary-dark: #171717;
  --color-primary-title-light: #fcd34d;
  --color-primary-title-dark: rgba(0, 0, 0, 0.7);
  --color-primary-card-light: rgba(250, 190, 30, 0.3);
  --color-primary-card-dark: rgba(0, 0, 0, 0.7);
  --color-primary-button-light: #fcd34d;
  --color-primary-button-dark: #ff871e;
  --color-primary-button-light-hover: rgb(250, 190, 35);
  --color-primary-button-dark-hover: #dd7700;
  --color-primary-button-dark-less-transparent-hover: #dd770090;
  --color-primary-button-dark-transparent-hover: #dd770070;
  --color-primary-button-light-active: #fcd34d;
  --color-primary-button-dark-active: #b45309;
  --color-primary-button-dark-less-transparent: rgba(0, 0, 0, 0.9);
  --color-primary-button-dark-transparent: rgba(0, 0, 0, 0.7);
  --color-primary-button-dark-much-transparent: rgba(0, 0, 0, 0.5);
  --color-primary-button-dark-transparent-hover: rgba(0, 0, 0, 0.8);
  --color-primary-button-dark-transparent-active: rgba(0, 0, 0, 0.9);
  --color-primary-google-dark: #131314;
  --color-primary-google-text-white: #1f1f1f;
  --color-primary-google-text-dark: #e3e3e3;
  --color-primary-google-border-light: #1f1f1f1f;
  --color-primary-google-border-dark: #8e918f;
  --color-primary-google-border-disabled-dark: #8e918f1f;
  --color-primary-google-disabled-light: #ffffff61;
  --color-primary-google-disabled-dark: #13131461;
  --color-primary-google-focus: #303030;
}

[data-theme="dark"] {
  color-scheme: dark;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: calc(100dvh);

  @apply 
  font-family-sans 
  m-0
  overflow-y-scroll;
}

@layer components {
  body {
    @apply 
    bg-primary-light dark:bg-primary-dark;
  }

  table {
    @apply
    w-full 
    mb-4
    border-collapse;
  }

  th,
  td {
    @apply 
    bg-primary-light dark:bg-primary-dark
    border-2 p-2 text-left;
  }

  th {
    @apply 
    bg-primary-light dark:bg-primary-dark;
  }

  .customdiv {
    @apply 
    text-primary-dark dark:text-white;
  }

  .customInput {
    @apply 
    ease-in-out duration-200
    m-1 p-2
    rounded-xl
    bg-primary-light dark:bg-primary-dark 
    dark:text-white;
  }

  .customInput:focus {
    @apply 
    dark:bg-primary-dark dark:text-white;
  }

  .customInputSearch {
    min-width: 69dvw;
    @apply 
    ease-in-out duration-200
    p-2
    rounded-xl
    bg-primary-light dark:bg-primary-button-dark-much-transparent
    dark:text-white;
  }

  .customInputSearch[type="text"]:focus {
    @apply 
    dark:bg-primary-button-dark-less-transparent dark:text-white;
  }

  .customInputSearch[type="text"]:active {
    @apply 
    dark:bg-primary-button-dark-much-transparent dark:text-white;
  }

  input[type="text"]:focus {
    @apply
    dark:bg-primary-dark;
  }

  input[type="number"]:focus {
    @apply
    dark:bg-primary-dark;
  }

  input[type="file"]::-webkit-file-upload-button {
    @apply 
    px-2
    border-0
    rounded-xl
  bg-primary-button-dark
  dark:text-white;
  }

  input[type="file"]::-webkit-file-upload-button:hover {
    @apply 
    bg-primary-button-dark-hover;
  }

  input[type="date"]:focus{
    @apply
    dark:bg-primary-dark;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    @apply 
    ease-in-out duration-200
    rounded-full;
  }

  input[type="date"]::-webkit-calendar-picker-indicator:hover {
    @apply 
    cursor-pointer
    rounded-full
  bg-primary-button-dark-hover;
  }

  input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover {
    @apply 
    cursor-pointer
    rounded-full
  bg-primary-button-dark-hover;
  }

  select {
    @apply 
    m-2 p-2
    border-0 rounded-xl
    bg-primary-light dark:bg-primary-dark;
  }

  select:focus {
    @apply 
    dark:bg-primary-dark;
  }

  .content {
    height: calc(100vh - var(--spacing-safe-bottom));
    @apply
    overflow-y-auto;
  }

  .sign-in-google-button-icon {
    background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }

  .safeArea {
    min-height: 100vh;
    padding-top: var(--spacing-safe-top);
    padding-right: var(--spacing-safe-right);
    padding-bottom: var(--spacing-safe-bottom);
    padding-left: var(--spacing-safe-left);
    box-sizing: border-box;
  }

  .button {
    @apply 
    ease-in-out duration-200
    min-w-32
    m-2 p-2
    shadow-xs
    text-lg
    text-center
    content-center
    rounded-full -tracking-wider 
    bg-(--color-primary-button-light) dark:bg-primary-button-dark 
    text-black dark:text-white;
  }

  .button:hover {
    @apply 
    border-amber-50
    bg-amber-400 dark:bg-amber-600;
  }

  .button:active {
    @apply
    border-amber-50
    bg-amber-600;
  }

  .button:disabled {
    @apply
    opacity-25 
    border-amber-300 bg-amber-300;
  }

  .buttonTrip {
    @apply 
    text-pretty text-center 
    content-center 
    m-2 py-1 px-4 
    rounded-full 
    bg-primary-button-light dark:bg-primary-button-dark 
    text-black dark:text-white;
  }

  .buttonTrip:hover {
    @apply 
    border-amber-50 
    bg-amber-400 dark:bg-amber-600;
  }

  .buttonTrip:active {
    @apply 
    border-amber-50 bg-amber-600;
  }

  .buttonTrip:disabled {
    @apply 
    opacity-25 border-amber-300 bg-amber-300;
  }

  .buttonDelete {
    @apply 
    text-pretty text-center 
    content-center 
    m-2 py-1 px-4 
    rounded-full 
    ease-in-out duration-200
    bg-red-700 dark:bg-red-700
    text-black dark:text-white;
  }

  .buttonDelete:hover {
    @apply 
    bg-red-800 dark:bg-red-800
  }

  .buttonDelete:active {
    @apply 
  dark:bg-red-900;
  }

  .buttonDelete:disabled {
    @apply 
    opacity-25 border-amber-300 bg-amber-300;
  }

  .buttonBack {
    @apply
    min-w-8
    text-center
    content-center
    rounded-full
    px-4 py-1 mx-1 
    ease-in-out duration-400
    bg-amber-100 dark:bg-primary-card-dark
    text-black dark:text-white;
  }

  .buttonBack:hover {
    @apply 
    ease-in-out duration-200
    border-amber-50
    bg-amber-400 dark:bg-amber-600;
  }

  .buttonBack:active {
    @apply
    border-amber-50
    bg-amber-600;
  }

  .buttonEdit {
    @apply 
    text-center 
    content-center 
    rounded-full 
    p-1 
    ease-in-out duration-200
    bg-amber-100 dark:bg-primary-card-dark
    text-black dark:text-white;
  }

  .buttonEdit:hover {
    @apply 
    border-amber-50 
    bg-amber-400 dark:bg-amber-600;
  }

  .buttonEdit:active {
    @apply 
    border-amber-50 bg-amber-600;
  }

  .buttonCancel {
    @apply 
    min-w-8 min-h-8
    px-2
    opacity-90
    rounded-full
    bg-red-600
    text-black dark:text-white;
  }

  .buttonCancel:hover {
    @apply
    bg-red-800;
  }

  .buttonCancel:active {
    @apply
    bg-red-900;
  }

  .title {
    font-family: 'Courier New', Courier, monospace;
    @apply 
    flex justify-center 
    font-light text-xl text-center
    bg-primary-title-light dark:bg-primary-title-dark
    text-black dark:text-white;
  }

  .card {
    @apply
    m-4 p-4
    rounded-lg border-4 
    shadow-xs;
  }

  .cardMX1 {
    @apply 
    mx-1 mt-1 
    dark:bg-primary-dark;
  }

  .cardTrip {
    @apply 
    dark:bg-primary-dark;
  }

  .cardPOI {
    width: 99%;
    @apply
    items-center
    text-nowrap overflow-x-scroll
    ml-auto mr-auto mt-0.5
    p-2
    border-0
    rounded-lg
    shadow-md
    text-lg
    ease-in-out duration-800
    border-amber-600
    bg-amber-50 dark:bg-primary-button-dark-transparent;
  }

  .cardPOI:hover {
    @apply 
    ease-in-out duration-200
    bg-amber-100 dark:bg-primary-button-dark;
  }

  .cardPOI:active {
    @apply 
    bg-amber-100 dark:bg-amber-600;
  }

  .cardPOI:focus,
  :focus-visible {
    @apply 
    bg-amber-200
    dark:bg-amber-600;
  }

  .cardBorderLR {
    @apply
    w-full
    mb-1
    p-2
    shadow-md
    text-lg
    border-t-0 border-b-0 border-l-2 border-r-2
    rounded-lg
    border-amber-300
    bg-amber-50 dark:bg-primary-button-dark-transparent;
  }

  .cardBorderTB {
    @apply
    w-full
    mb-1
    p-2
    text-lg
    shadow-md
    border-t-2 border-b-2 border-l-0 border-r-0
    rounded-lg
    border-amber-300
    bg-amber-50 dark:bg-primary-button-dark-transparent;
  }

  .cardBorderT {
    @apply 
    w-full
    mb-1
    p-2
    text-lg
    shadow-md
    border-t-2 border-b-0 border-l-0 border-r-0
    rounded-lg
    border-amber-300
    bg-amber-50 dark:bg-primary-button-dark-transparent;
  }

  .cardBorderless {
    @apply
    mb-1
    p-2
    text-lg
    shadow-md
    border-0
    rounded-lg
    border-amber-300
    bg-amber-50 dark:bg-primary-button-dark-transparent;
  }

  .cardPOIMarker {
    @apply 
    relative
    z-10
    min-w-10 min-h-10 max-w-56
    px-2 py-0.5
    rounded-full border-x-0 shadow-xs 
    text-base
    ease-in-out duration-800
    bg-amber-50 dark:bg-primary-button-dark-much-transparent;
  }

  .cardPOIMarker:hover {
    @apply 
    relative
    z-50
    min-w-24
    cursor-pointer
    text-base
    scale-125
    ease-in-out duration-200
    bg-amber-100 dark:bg-primary-button-dark-hover;
  }

  .cardPOIMarker:active {
    @apply 
    relative
    z-50
    scale-125
    bg-amber-200 dark:bg-primary-button-dark;
  }

  .cardPOIAddInfo {
    z-index: 2;
    @apply 
    p-2
    bottom-0
    border-0
    rounded-lg
    border-amber-300
    absolute h-1/2 text-white dark:text-white;
  }

  .cardPOIAddInfoPictures {
    padding-right: 30%;
    padding-bottom: 30%;
    @apply 
    flex z-0 overflow-x-scroll;
  }

  .cardInfo {
    @apply 
    p-2 mb-0.5 
    border-amber-400 rounded-lg border-t-0 border-b-0 border-l-2 border-r-0 
    bg-amber-100 dark:bg-primary-card-dark;
  }

  .picture {
    @apply 
    p-0
    border-0
    rounded-md
    block
    max-w-24;
  }

  .pictureContainer {
    transform-origin: top left;
    -webkit-transform-origin: top left;
    @apply
    transform duration-200 ease-in-out
    p-0
    m-1;
  }

  .pictureContainer:hover {
    @apply
    cursor-pointer;
  }

  .pictureContainer:focus {
    transform: translate(0%, 0%) scale(2);
    transform-origin: top left;
    -webkit-transform: translate(0%, 0%) scale(2);
    -webkit-transform-origin: top left;
    transition-property: transform, padding;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .pictureMileage {
    max-height: 50px;
    @apply
    block
    p-0
    border-0
    rounded-md;
  }

  .pictureMileagePopUp {
    @apply
    max-w-screen
    block
    p-0
    border-0
    rounded-md;
  }

  .popup {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    @apply
    flex
    fixed
    justify-center
    items-center
    top-0
    left-0
    w-full
    h-full;
  }

  .popup-content {
    width: 95vw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    @apply 
    p-4
    text-center
    rounded-lg
    bg-primary-light dark:bg-primary-dark;
  }

  .tripAbsoluteContent {
    @apply 
    flex-wrap
    rounded-lg
    w-full
    p-2
    z-10
    left-0
    overflow-y-scroll
    absolute h-2/5
    bg-amber-50 dark:bg-primary-button-dark-less-transparent;
  }

  .sidebarInstructionsContent {
    width: 15rem;
    height: 12rem;
    @apply 
    flex-wrap
    mt-2
    p-1
    rounded-lg
    overflow-y-scroll
    bg-amber-50 dark:bg-primary-button-dark-transparent;
  }

  .sidebarInstructionsToggle {
    height: 3rem;
    @apply
    flex
    justify-center
    items-center
    w-6
    overflow-visible
    absolute
    rounded-lg;
  }

  .sidebarInstructionsToggle.left {
    right: -2rem;
    @apply 
    bg-amber-50 dark:bg-primary-button-dark-transparent;
  }

  .sidebarInstructionsToggle:hover {
    @apply 
    cursor-pointer
    bg-amber-100 dark:bg-primary-button-dark-transparent-hover;
  }

  .sidebarInstructions {
    transition: transform 0.5s;
    z-index: 1;
    width: 15rem;
    height: 100%;
  }

  .left.collapsed {
    transform: translateX(-245px);
  }

  .flex-center {
    @apply
    flex
    justify-center
    items-center
    absolute;
  }

  .landmarkSearchInput {
    z-index: 1;
    top: 0dvh;
    @apply
    m-2
    text-lg
    absolute;
  }

  .bottommenu {
    z-index: 1;
    top: 70%;
    bottom: 6dvh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    @apply
    absolute;
  }


  .buttonTopbar {
    @apply 
    text-lg
    align-middle
    content-center
    rounded-full
    mx-1
    p-1.5
    ease-in-out duration-400
    border-amber-50
    bg-primary-button-light dark:bg-primary-button-dark 
    text-black dark:text-white;
  }

  .buttonTopbar:hover {
    @apply 
    ease-in-out duration-200
    border-amber-50
    bg-primary-button-light-hover dark:bg-primary-button-dark-hover;
  }

  .buttonTopbar:active {
    @apply
    border-amber-50
    bg-amber-600;
  }

  .buttonTopbar:disabled {
    @apply
    opacity-25
    border-amber-300
    bg-amber-300;
  }

  .buttonPOI {
    @apply 
    text-lg
    align-middle
    content-center
    rounded-full
    mx-1 mt-0 mb-1
    px-2 py-1.5
    border-amber-50
    bg-primary-button-light dark:bg-primary-button-dark 
    text-black dark:text-white;
  }

  .buttonPOI:hover {
    @apply 
    border-amber-50
    bg-primary-button-light-hover dark:bg-primary-button-dark-hover;
  }

  .buttonPOI:active {
    @apply
    border-amber-50
    bg-amber-600;
  }

  .buttonPOI:disabled {
    @apply
    opacity-25
    border-amber-300
    bg-amber-300;
  }

  .buttonPOIAdd {
    @apply 
    p-1.5
    mx-0.5 mt-0 mb-1
    rounded-full
    content-center
    border-amber-50
    bg-primary-button-light dark:bg-primary-button-dark 
    text-black dark:text-white;
  }

  .buttonPOIAdd:hover {
    @apply 
    border-amber-50
    bg-primary-button-light-hover dark:bg-primary-button-dark-hover;
  }

  .buttonPOIAdd:active {
    @apply
    border-amber-50
    bg-amber-600;
  }

  .buttonPOIAdd:disabled {
    @apply
    opacity-25
    border-amber-300
    bg-amber-300;
  }

  .buttonPOICancel {
    top: 12.5rem;
    font-size: large;
    line-height: var(--spacing-4);
    @apply
    absolute
    m-1
    p-2
    shadow-xs
    content-center
    rounded-lg
    border-amber-50
    bg-red-600
    text-black dark:text-white;
  }

  .buttonPOICancel:hover {
    @apply
    border-amber-50
    bg-red-700;
  }

  .buttonPOICancel:active {
    @apply
    border-amber-50
    bg-red-800;
  }

  .buttonPOIDropdown {
    @apply 
    text-xl
    p-1
    mx-1
    rounded-full
    content-center
    align-middle
    ease-in-out duration-400
    border-amber-50
    bg-primary-button-light dark:bg-primary-button-dark 
    text-black dark:text-white;
  }

  .buttonPOIDropdown:hover {
    @apply 
    ease-in-out duration-200
    border-amber-50
    bg-primary-button-light-hover dark:bg-primary-button-dark-hover;
  }

  .buttonPOIDropdown:active {
    @apply
    border-amber-50
    bg-amber-600;
  }

  .buttonPOIDropdown:disabled {
    @apply
    opacity-25
    border-amber-300
    bg-amber-300;
  }

  .buttonDarkmode {
    width: 4rem;
    @apply
    ease-in-out duration-200
    my-2
    text-center
    content-center
    rounded-full
    bg-slate-100 dark:bg-slate-800 
    text-black dark:text-white;
  }

  .buttonDarkmode:hover {
    @apply 
    border-amber-50
    bg-amber-400 dark:bg-amber-600;
  }

  .buttonDarkmode:active {
    @apply
    border-amber-50
    bg-amber-600;
  }

  .slider {
    width: 90%;
    height: 0.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 7.5vw;
    @apply
    cursor-grab
    text-center
    rounded-lg;
  }

  .sliderThumbCount {
    font-size: large;
    align-content: center;
    width: calc(69vw / 9);
    height: 3rem;
    top: -1.5rem;
    margin-left: calc((-69vw / 9) / 2);
    @apply
    ease-in-out duration-200
    rounded-xl
    text-amber-600
    bg-amber-100;
  }

  .sliderThumbCount:hover,
  .sliderThumbCount:focus {
    border-width: 0.2rem;
    @apply
    outline-0
    border-amber-400
    bg-amber-100;
  }

  .sliderThumbRadius {
    font-size: large;
    align-content: center;
    width: calc(105vw / 10);
    height: 3rem;
    top: -1.5rem;
    margin-left: calc((-105vw / 10) / 2);
    @apply
    ease-in-out duration-200
    rounded-xl
    text-amber-600
    bg-amber-100;
  }

  .sliderThumbRadius:hover,
  .sliderThumbRadius:focus {
    border-width: 0.2rem;
    @apply
    outline-0
    border-amber-400
    bg-amber-100;
  }

  .sliderMark {
    width: 0.15em;
    height: 0.15em;
    @apply
    rounded-full
    bg-amber-100;
  }

  .sliderTrackCount {
    margin-right: calc(69vw / 9);
    height: 0.15em;
    @apply
    rounded-full
    bg-amber-950;
  }

  .sliderTrackRadius {
    margin-right: calc(105vw / 10);
    height: 0.15em;
    @apply
    rounded-full
    bg-amber-950;
  }

  .sliderTrackCount.sliderTrackCount-0 {
    height: 0.15em;
    @apply
    rounded-full
    bg-amber-600;
  }

  .sliderTrackRadius.sliderTrackRadius-0 {
    height: 0.15em;
    @apply
    rounded-full
    bg-amber-600;
  }

  .profilepic {
    @apply 
    self-center
    rounded-full
    m-2
    bg-primary-light dark:bg-primary-dark;
  }

  .inputField {
    @apply
    flex
    flex-col
    justify-between;
  }

  .iconMarker {
    @apply
    text-xl opacity-85
  }

  .reactToggle {
    @apply
    m-1.5 align-middle justify-center
  }

  .toggle {
    @apply 
    min-w-11
    content-center
    align-middle
    text-center
    -tracking-wider
    rounded-full
    ease-in-out duration-400
    bg-primary-button-light dark:bg-primary-dark 
    text-black dark:text-white;
  }

  .toggle:hover {
    @apply 
    ease-in-out duration-200
    border-amber-50
    bg-amber-400 dark:bg-primary-google-focus;
  }

  /* Google Sign-In Button Styles */
  .gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-image: none;
    border: 1px solid #747775;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
    @apply 
    bg-white dark:bg-primary-google-dark 
    text-primary-google-text-white dark:text-primary-google-text-dark 
    dark:border-primary-google-border-dark;
  }

  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }

  .gsi-material-button .gsi-material-button-content-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .gsi-material-button .gsi-material-button-contents {
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }

  .gsi-material-button .gsi-material-button-state {
    transition: opacity 0.218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .gsi-material-button:disabled {
    cursor: default;
    @apply 
    bg-primary-google-disabled-light dark:bg-primary-google-disabled-dark 
    border-primary-google-border-light dark:border-primary-google-border-disabled-dark;
  }

  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 0.38;
  }

  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 0.38;
  }

  .gsi-material-button:not(:disabled):active .gsi-material-button-state,
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    opacity: 0.12;
    @apply 
    bg-primary-google-focus dark:bg-white;
  }

  .gsi-material-button:not(:disabled):hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }

  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: var(--color-primary-google-focus);
    opacity: 0.08;
    @apply 
    dark:bg-white;
  }

  .gsi-material-button:disabled .gsi-material-button-state {
    background-color: #e3e3e31f;
  }
}
